<<<<<<< HEAD
.background-image {
    background-image: url("/img/loribackground.jpg");
    width: 512px;
    height: 512px;
    overflow: hidden;
=======
/* .lori-header {
    margin-top: 10px;
    text-align: left;
    font-family: Georgia, serif;
    font-size: 25px;
}

.lori-nav {
    margin-top: 5px;
    text-align: left;
    font-family: Georgia, serif;
    font-size: 15px;
}

.title {
    background: none;
    margin-top: 20px;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 30px;
}

.mypics {
    position: relative;
    text-align: center;
    color: white;
}

.mycontainer {
    position: relative;
}

.text-display-bottomleft {
    position: absolute;
    color: white;
    left: 0;
    bottom: 0;
}

#test {
    background-image: url("../img/scroll_over.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: scroll;
}

/* Create three equal columns that floats next to each other */

/* .column {
    float: left;
    width: 33.33%;
    padding: 15px;
} */

/* Clear floats after the columns */

/* .row::after {
    content: "";
    display: table;
    clear: both;
    margin: auto;
} */

/*gallery */

/* div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
    height: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

/* div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 200px;
    margin: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.player {
    text-align: center;
} */

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */

.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */

.row, .row>.column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */

.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */

.content {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
>>>>>>> 50a7d328e7b9c598b28fb9ba2f2ff52026f631b3
}