        html,
        body {
            font-family: Verdana, sans-serif;
            font-size: 15px;
            line-height: 1.5
        }
        
        html {
            overflow-x: hidden
        }
        
        h1 {
            font-size: 36px
        }
        
        h2 {
            font-size: 30px
        }
        
        h3 {
            font-size: 24px
        }
        
        h4 {
            font-size: 20px
        }
        
        h5 {
            font-size: 18px
        }
        
        h6 {
            font-size: 16px
        }
        
        .container {
            position: middle;
            text-align: center;
            color: white;
            text-shadow: maroon 0px 0px 15px;
        }
        
        .centered {
            position: absolute;
            color: white;
            top: 25%;
            text-shadow: black;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .nav li a:hover:not(.active) {
            background-color: dodgerblue;
        }
        
        .nav {
            border: 1px solid #ccc;
            border-width: 1px 0;
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
            background-color: lightgrey;
        }
        
        .nav li {
            display: inline;
        }
        
        .nav a {
            display: inline-block;
            padding: 10px;
            text-decoration: none;
        }
        
        .active {
            background-color: #04AA6D;
        }
        
        div {
            text-align: center;
        }
        
        img {
            width: 60%;
            margin: auto;
            display: block;
        }
        
        .UserFav {
            background-color: #04AA6D;
            color: white;
        }
        
        input[type=text],
        select {
            width: 75%;
            padding: 12px 20px;
            margin: 5px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 2px;
            box-sizing: border-box;
            text-align: center;
        }
        
        form {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 10px;
        }
        
        button[type=submit] {
            width: 50%;
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        button[type=submit]:hover {
            background-color: #45a049;
        }